* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  body {
    width: 80%;
    font-family: Cairo;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
 }

nav{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    .menu{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &_item{
            &--with{
                width: 22%;
            }
        }
        p{
            font-size: small;
            font-weight: bold;
            position: relative;
            top:100px;
            right: 180px;
        }
        
    }
    .logo{
        width: 20%;
    }

}
.search{
    background-color: tomato;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    .addbook{
        width: 30%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        input,p{
            width: 70%;
            margin: 5px auto;
            border-radius: 5px;
        }
        
    }
    .deletbook,.showbook,.updatbook{
        @extend .addbook;
    }
}
    

.table{
    margin: auto;
    font-size: small;
    font-weight: normal;
    th,tr{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        height: 50px;
        width: 150px;
    }
}



